* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}
body {
  background-color: #091b29;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
}
.logo:hover {
  color: #00abf0;
  transition: 0.7;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
}
.navbar a:hover,
.navbar a:active {
  color: #00abf0;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home-content {
  width: 600px;
}
.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;

}


.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
} 
.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
}
.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}
.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
}
.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
  z-index: 2;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  color: #091b29;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}
.btn-box a:nth-child(2) {
  background-color: transparent;
  color: #00abf0;
}
.btn-box a:nth-child(2):hover {
  color: #091b29;
}
.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #091b29;
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover::before {
  width: 100%;
}

.social-box {
  position: absolute;
  bottom: 40px;
  width: 190px;
  display: flex;
  justify-content: space-between;

}
.social-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
  z-index: 2;
}

.social-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.social-box a:hover {
  color: #091b29;
}

.social-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.social-box a:hover::before {
  width: 100%;
}

#div-img {
  position: absolute;
  top: 0;
  right: 23%;
  transform: translateX(50%);
}

div img {
  position: relative;
  width: 250px;
  border-radius: 100px;
  
}

@keyframes showright {
  100% {
    width: 0;
  }
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0% 10%;
}
.about-content {
  position: relative;
  justify-content: center;
  align-items: center;
}
.h1-about {
  position: absolute;
  font-size: 60px;
  font-weight: 700;
  padding-left: 22rem;
}

.h1-about::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #091b29;
  animation: showright 1s ease forwards;
  animation-delay: 0.1s;
}
#h1-2 {
  padding-left: 34rem;
  color: #00abf0;
}

.main-pic {
  position: flex;
  align-items: center;
  margin-left: 25rem;
  width: 10rem;
  margin-top: 0.75rem;
 
}

.h2-about {
  position:relative;
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 3;
  padding-left: 20rem;

}

.hidden {
  display: none;
}

  .read-btn {
    background-color: #00abf0;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    border-radius:15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 26rem;
  }
  
  .read-more:hover {
    background-color: #0056b3;
  }
  





